.idea
node_modules
tests
.browserslistrc
.dockerignore
.editorconfig
.gitattributes
.gitignore
.gitlab-ci.yml
frontend-compile.Dockerfile
frontend-run.Dockerfile
Jenkinsfile
Makefile
package-lock.json
README.md
vue.config.js
yarn.lock
yarn-error.log
